* {
  font-family: Arial, Helvetica, sans-serif;
}

ol {
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
}
  
li.step:before {
    content: "Step " counter(elementcounter) ". ";
    counter-increment: elementcounter;
    font-weight: bold;
}

li {
      margin-top: 1em;
}

p {
      text-indent: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 300px;
    height: auto;
}

h1.title {
      text-align: center;
      text-decoration: underline;
      width: 100%;
      padding: 20px;
}

.wrap2 {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      border: 5px solid #363636;
      border-radius: 25px;
      box-shadow: 3px 3px #222;
      margin-left: 10%;
      margin-right: 10%;
      min-width: 300px;
      background-color: floralwhite;
}

a {
    color: black;
    font-weight: bold;
    text-align: center;
  }

a.white {
    color: white;
    font-size: xx-large;
    padding: 5px;
}
  
body {
    background-image: linear-gradient(to bottom right, #16395c, #123456);
    min-height: 100%;
    padding: 3px;
    background-attachment: fixed;
}

.flexy {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.box img{
    width: 200px;
    padding-bottom: 5px;
}

.box {
    display: flex;
}